API_PORT=3001
API_ORIGIN=http://localhost:3001

POSTGRES_HOST=localhost
POSTGRES_USER=clinic
POSTGRES_PASSWORD=clinic
POSTGRES_DB=clinic_plus
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

RABBITMQ_USER=clinic
RABBITMQ_PASSWORD=clinic
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://clinic:clinic@localhost:5672
